body {
    font-family: "Microsoft YaHei", "宋体";
    /* 如果有系统里面有第一个使用第一个，如果没有使用第二个 */
    font-size: 30px; 
    /* 30 对应的是字体的高度，1em = 16px */

    font-weight: bold; 
    /* 100~900 9个级别，从细到粗 normal = 400    lighter bold */

    font-style: italic;
    /* 斜体 */

    /* font: style weight size/line-height font-family; 简化设置， size 和 family 必须要设置 */

    line-height: 100px; 
    /* 行高 */
}


p {
    letter-spacing: 0px;
    /* 字符间距 */
    word-spacing: 0px;
    /* 空格间距 */

    direction: ltr;
    /* 从左到右 rtl 从右到左 */
    
    text-decoration: none;
    /* Delete字符 一条线穿过文字   overline线再字的头顶  underline底 line-through中 */

    text-align: center;
    /* 左对齐 (默认) center 居中 justfy 两端对齐 */

    text-indent: 60px;
    /* 缩进 */

    text-transform: uppercase lowercase capitalize;
    /* 大写 小写 首字母大写 */

    white-space: nowrap;
    /* 不包裹内容 */
    overflow: hidden;
    /* 超出隐藏 */
    text-overflow: ellipsis;
    /* 省略号替换超出部分 */

    vertical-align: top center bottom;
    /* 垂直对齐 */
    
}