/* 
.div1 {
    position: relative;
    top: 50px;
    left: 100px;
} */
 /* 相对定位，实际内容还在原来的地方，但是显示会在你设置的地方， top表示距离顶端50px， left表示距离左边100 */

 
/* .div1 {
    position: absolute;
    top: 50px;
    left: 100px;
} */

/* 绝对位置，表示内容和显示都在你设置的位置上 */


.container {
    position: relative;
    margin: auto;
    width: 200px;
    height: 300px;
    background: yellow;
    border: 1px solid black;
}

/* absolute 绝对定位，坐标基于父级，如果父级带有position属性，则相对父级，如果父级没有则继续父级的父级找，
直到找到带有position属性的父级为止 */

.div1 {
    position: absolute;
    background: purple;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}

.div2 {
    background: red;
    width: 100px;
    height: 100px;
}

