div, p {
    background: green;
    color: red;
}

表明：p和div都有这两个属性

div p {
    background: green;
    color: red;
}

空格隔开表明在div 这个父级下的 p 标签才会被改变属性

div>p {
    background: green;
    color: red;
}

大于号表明  只有父标签为div的p标签才会被设置属性

div+p {
    background: green;
    color: red;
}

+号表明  只有相邻的同级的标签为div的p标签才会被设置属性

属性选择器
基本选择器[属性]

p[title] {
    background: green;
    color: red;
}

p 标签，只有有title 属性的标签的属性才会被改变

p[title=qiuqiu]  表示title值为qiuqiu的标签才会改变属性
p[title~=qiuqiu] 表示title值包含qiuqiu的标签才会改变属性
p[title^=qiuqiu] 表示title值以qiuqiu开始的标签才会改变属性
p[title$=qiuqiu] 结束

伪元素选择器

p::before {
    content: "before";
    font-size: 10px;
}

p::after {
    content: "after";
    font-size: 100px;
}

p {
    background-color: blue;
    font-size: 70px;
    color: red;
}

块元素
第一个字母、字：first-letter
第一行：first-line

p::first-letter {
    color: red;
}

